{% load staticfiles %}
{% if speakers %}
<section>
    <div id="lgx-speakers" class="lgx-speakers lgx-speakers2">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                  {% if speaker_section %}
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-dark">
                            <h2 class="heading">{{ speaker_section.title }}</h2>
                            <h3 class="subheading">{{ speaker_section.subtitle }}</h3>
                        </div>
                    </div>
                  {% endif %}
                </div>
                <!--//.ROW-->
                <div class="row">
                  {% for speaker in speakers %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="lgx-single-speaker"> <!--lgx-single-speaker-circle lgx-single-speaker2 lgx-single-speaker3-->
                            <figure>
                                <a class="profile-img" href="#"><img class="img-responsive" src="{{speaker.image.url}}" alt="{{speaker.title}}"/></a>
                                <figcaption>
                                    <div class="social-group">
                                    {% if speaker.facebook.strip %}
                                        <a class="sp-fb" href="{{speaker.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                                    {% endif %}
                                    {% if speaker.instagram.strip %}
                                        <a class="sp-insta" href="{{speaker.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
                                    {% endif %}
                                    </div>
                                    <div class="speaker-info">
                                        <h3 class="title"><a href="#">{{speaker.title}}</a></h3>
                                        <h4 class="subtitle">{{speaker.subtitle}}</h4>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--//.ROW-->
            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
    </div>
</section>
{% endif %}
