{% load staticfiles %}

<section>
    <div id="lgx-sponsors" class="lgx-sponsors">
        <div class="lgx-inner-bg">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading">
                                <h2 class="heading">Patrocínio</h2>
                                <h3 class="subheading">Os parceiros que fazem este evento acontecer!</h3>
                            </div>
                        </div>
                    </div>
                    <!--//main row-->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- <h3 class="sponsored-heading first-heading">Patrocínio</h3> -->
                            <div class="sponsors-area"> <!--sponsors-area-col3 sponsors-area-noshadow sponsors-area-nogap sponsors-area-colorfull sponsors-area-colorfull-border sponsors-area-border-->
                                <div class="single">
                                    <a class="" href="#"><img class="img-responsive" src="{% static 'img/jdl-sponsors-2021.png' %}" alt="Patrocinadores Jardins da Literatura"/></a>
                                </div>
                            </div>
                        </div>
                        <!--//col-->
                    </div>
                    <!--//row-->
                </div>
                <!--//container-->
            </div>
        </div>
        <!--//lgx-inner-->
    </div>
</section>
