{% load staticfiles %}
<section>
    <div class="lgx-banner">
        <div class="lgx-banner-style">
            <div class="lgx-inner lgx-inner-fixed">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-banner-info-area">
                              <!--
                                <div class="lgx-banner-info-circle">
                                    <div class="info-circle-inner">
                                        <span class="networks pt-20">Acompanhe as redes</span>
                                        <div class="lgx-countdown-area">
                                            <div id="lgx-countdown" data-date="2018/11/13"></div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <div class="lgx-banner-info"> <!--lgx-banner-info-center lgx-banner-info-black lgx-banner-info-big lgx-banner-info-bg--> <!--banner-info-margin-->
                                    <h2 class="subtitle">Jardins da</h2>
                                    <h2 class="title">Literatura <span><b>20</b><b>18</b></span></h2>
                                    <h3 class="location"><i class="fa fa-map-marker"></i> Belo Jardim, Pernambuco</h3>
                                    <h3 class="subtitle hidden-xs" id="lgx-typed-string">Oficinas </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </div>
</section>
