{% load staticfiles %}
{% if register_workshop %}
<!-- Modal-->
<div id="lgx-modal-register" class="modal fade lgx-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
              <section>
                  <div class="container">
                      <div class="row">

                          <div class="col-sm-12 col-md-6 col-md-offset-3 col-xs-12">
                            <!-- Form -->
                            <form id="register-workshop" action="{% url 'core:register_workshop' %}" method="POST" data-csrf-token={{csrf_token}}>
                              {% csrf_token %}
                              {{ register_workshop.media }}
                              {{register_workshop.non_field_errors}}

                              <div class="row">

                                <div class="col-md-12">
                                  <div class="row">
                                    <div class="col-md-12 mb-20">
                                      <h2 class="heading">Faça sua inscrição</h2>
                                    </div>

                                    <div class="col-md-12 mb-20">
                                      {{register_workshop.name}}
                                      {{register_workshop.name.errors}}
                                    </div>

                                    <div class="col-md-12 mb-20">
                                      {{register_workshop.email}}
                                      {{register_workshop.email.errors}}
                                    </div>

                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="row">

                                    <div class="col-md-12 mb-20">
                                      {{register_workshop.phonenumber}}
                                      {{register_workshop.phonenumber.errors}}
                                    </div>

                                    <div class="col-md-12 mb-20">
                                      {{register_workshop.age}}
                                      {{register_workshop.age.errors}}
                                    </div>

                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="row">

                                    <div class="col-md-12 mb-20">
                                      <span> Qual a sua escola? </span>
                                      {{register_workshop.school}}
                                      {{register_workshop.school.errors}}
                                    </div>

                                  </div>
                                </div>

                                <div class="col-md-12 mb-20">
                                  <span> Escreva sua poesia</span>
                                  {{register_workshop.message}}
                                  {{register_workshop.message.errors}}
                                  <div class="section-btn-area text-right text-center-xxs mt-20">
                                    <button id="submit" onclick="SubmitButton()" type="submit" class="lgx-btn lgx-btn-yellow" data-loading-text="Loading..."> Enviar </button>
                                  </div>

                                </div>

                              </div>

                            </form>
                            <div class="alert alert-success hidden animated fadeIn" id="contactSuccess" >
                              <strong>Sucesso!</strong> Sua inscrição foi realizada com sucesso! Aguarde a divulgação dos resultados.
                            </div>

                            <div class="alert alert-danger hidden animated shake" id="contactError">
                              <strong>Erro!</strong> Ocorreu um erro na sua inscrição, tente novamente.
                            </div>

                          </div> <!--//.COL-->
                      </div>
                  </div><!-- //.CONTAINER -->
              </section>
            </div>
        </div>
    </div>
</div> <!-- //.Modal-->
{% endif %}
